.FilteredSearches{
    display: flex;
    height: 35vh;
    overflow: auto;
    justify-content: center;
}
.TableHeaders{
    justify-content: left;
    font-weight: bold;
    background-color: #000000a7;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddda4;
  }

  .statbutton{
    background-color: #000000d5;
    color: rgb(255, 255, 255);
    padding: 0.25rem 0.25rem;
    border: transparent;
}

.statbutton:hover{
    background-color:#00000096 ;
    cursor: pointer;
}
 
