*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

.returnb{
    background-color:rgb(62, 240, 252);
    padding: 0.25rem 0.25rem;
    border: solid;
    border-color: white;
    margin: 2rem;
    text-align: center;

}

.returnb:hover{
    background-color:rgba(157, 157, 157, 0.983) ;
    cursor: pointer;
}

.statspage{
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(62, 240, 252); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(62,240,252), rgb(163, 13, 213)); 
    overscroll-behavior-y: none;
    background-size: cover;
    height: 100vh;
}

button {
    color: white;
}

