.FilteredSearches{
    height: 35vh;
    overflow: auto;
}

.search{

    display: flex;
}

.sbutton{
    background-color: rgb(163, 13, 213);
    color: white;
    padding: 0.25rem 0.25rem;
    border: transparent;
}

.sbutton:hover{
    background-color:rgba(100, 7, 131, 0.983) ;
}

.iform{
    width: 12rem;
    
}