ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-shadow: 10px,10px,rgb(0, 0, 0);
  }
  
div li {
    display: flex;
    font-size: 4rem;
    padding: 1rem;
    text-shadow: 2px 2px 5px rgb(6, 44, 48);
    align-items: center;
  }
  
.navBar {
    width: 100%;
    overflow: hidden;
    background: #941dd961;
    box-shadow: 0px 2px 10px rgb(0, 0, 0);
    color: white;
    /* margin-bottom: 1rem; */
    padding: .5rem 1rem;
    height: 5rem;
    top: 0;
    z-index: 1;
  }
.brand {
    cursor: pointer;
    font-size: 2rem;
    padding-left: 2rem;
  }
  
.nav{
    color :rgb(1, 234, 255); 
    
  }

  .flex-container{
    display: flex;
  
  }

